#root {
  display: contents;
}

.chat_area .group {
  gap: 6px;
}


.chat_area .group span.emoji-only {
  background: none !important;
  padding: 0 !important;
  font-size: 32px;
  line-height: 1;
  height: 52px;
  display: flex;
  align-items: center;
}
